.PuzzlePreview {
    //background: #ffffff;
    //border-radius: 10px;
    //border-style: solid;
    //border-width: 2px;
    //border-color: rgba(0, 0, 0, 0.11);
    //width: 100%;
    //padding-bottom: 0;

    .puzzleInputLabel{

    }

    .PuzzleSelectDropdownPreview{
        text-align: left;
        display: flex;
        flex-direction: row;
        min-width: 50ch;
        .PuzzlePreviewAvatar{
            display: none;
        }
        .deletePuzzleButton{
            display:none;
        }
        .numOfImps{
            display:none;
        }
        .numOfSols{
            display:none;
        }
    }

}

.PuzzleTitle {
    padding: 10px;
}

.singlePuzzle{

}

.puzzleText{
    padding-left: 15px;
    font-weight: bold;
}

.singlePuzzle.singlePuzzle--focused{
    background: rgba(0, 0, 0, 0.20) !important;
}

.singlePuzzle:hover{
    background: rgba(0, 0, 0, 0.11);
}
.PuzzlePreviewAvatar{
    pointer-events: none;
    --maxSize: 8rem;
    --scaleFactor: 0.6;
    overflow: hidden;
    max-width: calc(var(--maxSize));
    max-height: calc(var(--maxSize));
    .Puzzle{
        .SolutionViewWrapper{
            max-width: calc(var(--maxSize) / var(--scaleFactor));
            max-height: calc(var(--maxSize) / var(--scaleFactor));
            min-width: calc(var(--maxSize) / var(--scaleFactor));
            min-height: calc(var(--maxSize) / var(--scaleFactor));
            transform: scale(var(--scaleFactor));
            transform-origin: top left;
            >h5{
                display: none;

            }
        }
        >.MuiButtonBase-root{
            display:none;
        }
    }

    .deletePuzzlePopup{
        max-width: 12px;
    }
}
