.PuzzleEditorPage{
  .PuzzleEditorToolbar{
    display: flex;
    flex-direction: row;

    .PuzzleSelectorControl{
      min-width: 15rem;
    }
  }
  .PuzzleEditorMainPanel{
    display: flex;
    flex-direction: row;
    .SolutionSelector{
      margin: 5rem;
      min-width: 20%;
    }
  }
}