.Sidebar{
  max-width: 30%;
  width: 35ch;
  flex-shrink: 0;
  border: solid 1px black;
  height: 85vh;
  //border-left: 1rem;
  //border-top: 1rem;
  .SidebarTab{
    max-height:calc(100% - 63px);
    height:calc(100% - 63px);
  }
  .TagTypesMasterList{
    padding-top:0;
    max-height:100%;//calc(100% - 63px);
    height:100%;//calc(100% - 63px);
    display: flex;
    flex-direction: column;
  }
  .CreateTagGroup{

  }
  .tagHolder{
    height:100%;
    flex-shrink:10;
    overflow-y: auto;
  }

  .addNewHolder{
    height: 15vh;
  }

  .TagTypesTitle{
    padding: 1rem;
    border-bottom: solid 1px lightgrey;
  }
}