.Sidebar{
  max-width: 30%;
  width: 40ch;
  flex-shrink: 0;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.29);
  border-left: solid 1px rgba(0, 0, 0, 0.35);
  border-radius: 0px 0px 5px 0px;
  height: 83vh;
  background: white;
  //border-left: 1rem;
  //border-top: 1rem;
  .SidebarTab{
    max-height:calc(100% - 63px);
    height:calc(100% - 63px);
  }
  .TagTypesMasterList{
    padding-top:0;
    max-height:100%;//calc(100% - 63px);
    height:100%;//calc(100% - 63px);
    display: flex;
    flex-direction: column;
  }
  .CreateTagGroup{
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.29)  ;

    border-radius: 0px 0px 5px 0px;
  }
  .tagHolder{
    height:100%;
    flex-shrink:10;
    overflow-y: auto;
  }

  .addNewHolder{
    height: 15vh;
  }

  .TagTypesTitle{
    padding: 1rem;
    border-bottom: solid 1px lightgrey;
  }
}